.container {
    padding: 30px;
    background: #e6f7ff;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.request-title {
    margin-bottom: 20px;
}

.request-status-pending {
    color: gold;
    font-weight: bold;
}

.request-status-done {
    color: green;
    font-weight: bold;
}

.request-status-cancle {
    color: red;
    font-weight: bold;
}


.details-title {
    margin-bottom: 10px;
    color: blue;

}

.table-background {
    background: #ffffff;
}